<!-- 
<section class="bg-gray-200 py-16 sm:py-20 lg:py-24 mt-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row items-center gap-12 lg:gap-16 xl:gap-20">

      <div class="w-full lg:w-1/2 lg:h-[100%] flex-shrink-0">
        <img
          src="/images/lawyer-with-smartphone.webp"
          alt="Man struggling to move a large sofa"
          class="w-full h-auto aspect-[4/3] lg:aspect-auto lg:h-full object-cover shadow-lg"
        >
      </div>

      <div class="w-full lg:w-1/2 xl:w-7/12 text-center lg:text-start">
        <p class="text-sm font-semibold uppercase tracking-widest text-gray-500 mb-2">
          {{'contact.main.span1' | translate}}
        </p>
        <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-gray-900 mb-5 sm:mb-6">
          {{'contact.main.title' | translate}}
        </h2>
        <p class="text-lg sm:text-xl text-gray-700 mb-6 sm:mb-8 leading-relaxed">
          {{'contact.main.span2' | translate}}  </p>
        <p class="text-base text-gray-600 mb-6 sm:mb-8 leading-relaxed text-justify">
          {{'contact.main.paragraph' | translate}}        </p>
        <div>
          <p class="text-base font-medium text-gray-800 mb-1">
            {{'contact.main.span3' | translate}}          </p>
          <a
            href="https://wa.me/920009756" target="_blank"
            class="text-2xl sm:text-3xl font-bold text-[#061933] hover:text-[#a39669] transition-colors duration-200 inline-block"
          >
          920009756
          </a>
        </div>
      </div> 

    </div> 
  </div> 
</section>

<section class="bg-[#a39669] text-white py-6 sm:py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6">

      <div class="group flex items-center gap-3 sm:gap-4 p-3 rounded-lg transition-colors duration-300 ease-in-out ">
        <div class="flex-shrink-0 flex items-center justify-center h-14 w-14 rounded-full border-2 border-white transition-transform duration-300 ease-in-out group-hover:scale-110">
          <i class="fas fa-map-marker-alt text-xl sm:text-2xl"></i>
        </div>
        <div class="text-sm">
          <p class="font-semibold">{{'contact.sec.title1' | translate}}</p>
          <p>{{'contact.sec.span1' | translate}}</p>
        </div>
      </div>

      <div class="group flex items-center gap-3 sm:gap-4 p-3 rounded-lg transition-colors duration-300 ease-in-out ">
        <div class="flex-shrink-0 flex items-center justify-center h-14 w-14 rounded-full border-2 border-white transition-transform duration-300 ease-in-out group-hover:scale-110">
          <i class="far fa-clock text-xl sm:text-2xl"></i>
        </div>
        <div class="text-sm">
          <p class="font-semibold">{{'contact.sec.title2' | translate}}</p>
          <p>{{'contact.sec.span2' | translate}}</p>
        </div>
      </div>

      <div class="group flex items-center gap-3 sm:gap-4 p-3 rounded-lg transition-colors duration-300 ease-in-out ">
        <div class="flex-shrink-0 flex items-center justify-center h-14 w-14 rounded-full border-2 border-white transition-transform duration-300 ease-in-out group-hover:scale-110">
          <i class="far fa-envelope text-xl sm:text-2xl"></i>
        </div>
        <div class="text-sm">
          <p class="font-semibold">{{'contact.sec.title3' | translate}}</p>
          <a href="mailto:example@example.com" class="hover:underline break-all">{{'contact.sec.span3' | translate}}</a>
        </div>
      </div>

        <div class="group flex items-center gap-3 sm:gap-4 p-3 rounded-lg transition-colors duration-300 ease-in-out ">
        <div class="flex-shrink-0 flex items-center justify-center h-14 w-14 rounded-full border-2 border-white transition-transform duration-300 ease-in-out group-hover:scale-110">
          <i class="fas fa-phone-alt text-xl sm:text-2xl"></i>
        </div>
        <div class="text-sm">
          <p class="font-semibold">{{'contact.sec.title4' | translate}}</p>
          <a href="tel:+1234567890" class="hover:underline whitespace-nowrap">{{'contact.sec.span4' | translate}}</a>
        </div>
      </div>

    </div> 
  </div> 
</section> -->


<div class="w-full ">

  <div class="mt-32 container mx-auto px-4 sm:px-6 lg:px-8 my-8 md:my-10 md:mt-32 min-h-[80vh] sm:min-h-[90vh] " id="content-area">
    <div class="flex flex-col items-center mb-8 md:mb-10">

      <div class="flex flex-col sm:flex-row flex-wrap justify-center items-stretch gap-4 sm:gap-6 md:gap-8 lg:gap-10 xl:gap-12">
        @for (branch of allBranchesData; track branch.id) {
        <button type="button" (click)="selectBranch(branch)" [class]="getRectangleClasses(branch)"
          class="w-full sm:w-auto min-w-[280px] sm:min-w-0">

          <div class="flex items-center space-x-2 rtl:space-x-reverse text-right">
            <div
              class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gradient-to-br from-[#061933] to-[#061933] text-white text-base sm:text-lg">
              <i class="fas fa-building"></i>
            </div>
            <div class="flex-1">
              <h3 class="text-sm sm:text-base font-semibold ms-2 sm:ms-3 text-gray-800">{{ branch.shortName |translate }}</h3>
            </div>
          </div>

          @if(selectedBranch?.id === branch.id) {
          <div
            class="absolute -bottom-2.5 sm:-bottom-3 left-1/2 -translate-x-1/2 w-0 h-0 border-l-[6px] sm:border-l-[8px] border-l-transparent border-t-[9px] sm:border-t-[12px] border-[#061933] border-r-[6px] sm:border-r-[8px] border-r-transparent">
          </div>
          }
        </button>
        }
      </div>
    </div>

    <div class="details-container-wrapper w-full mx-auto">
      @if (selectedBranch) {
      <div class="details-content bg-white rounded-lg shadow-xl overflow-hidden" [@detailsSequence]>

        <div class="p-4 sm:p-6 md:p-8 border-b border-gray-200 text-center details-title-anim">
          <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900 mb-1 sm:mb-2 leading-tight">
            {{ selectedBranch.name | translate}}
          </h1>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-6 gap-0">
          <div class="map-container lg:col-span-3 h-80 sm:h-96 md:h-120 lg:h-full lg:min-h-[400px] map-container-anim">
            <iframe [src]="selectedBranch.mapEmbedUrl | safeUrl" width="100%" height="100%" style="border:0;"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div
            class="contact-details lg:col-span-3 p-4 sm:p-6 md:p-8 grid grid-cols-1 sm:grid-cols-2 gap-x-6 sm:gap-x-8 gap-y-6 sm:gap-y-8 md:gap-y-10 contact-details-anim">
            <div class="flex items-start gap-3 sm:gap-4">
              <div
                class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gray-200 hover:bg-[#a39669] duration-500 hover:text-white text-[#061933] mt-1">
                <i class="fa-solid fa-location-dot text-base sm:text-lg"></i>
              </div>
              <div>
                <h3 class="text-base sm:text-lg font-semibold text-gray-900 mb-1">{{ 'branches.address' |translate }}</h3>
                <p class="text-gray-600 ltr-text text-xs sm:text-sm">{{ selectedBranch.addressLines | translate }}</p>
              </div>
            </div>
            <div class="flex items-start gap-3 sm:gap-4">
              <div
                class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gray-200 hover:bg-[#a39669] duration-500 hover:text-white text-[#061933] mt-1">
                <i class="fas fa-envelope text-base sm:text-lg"></i>
              </div>
              <div>
                <h3 class="text-base sm:text-lg font-semibold text-gray-900 mb-1">{{ 'branches.email' |translate }}</h3>
                @for(email of selectedBranch.emails; track $index) {
                  <p class="text-gray-600 ltr-text text-xs sm:text-sm break-all">{{ email }}</p>
                }
              </div>
            </div>
            <div class="flex items-start gap-3 sm:gap-4">
              <div
                class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gray-200 hover:bg-[#a39669] duration-500 hover:text-white text-[#061933] mt-1">
                <i class="fas fa-phone-alt text-base sm:text-lg"></i>
              </div>
              <div>
                <h3 class="text-base sm:text-lg font-semibold text-gray-900 mb-1">{{ 'branches.phone' |translate }}</h3>
                <p class="text-gray-600 ltr-text text-xs sm:text-sm">{{ selectedBranch.phoneNumbers }}</p>
              </div>
            </div>
            <div class="flex items-start gap-3 sm:gap-4">
              <div
                class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gray-200 hover:bg-[#a39669] duration-500 hover:text-white text-[#061933] mt-1">
                <i class="fas fa-phone-alt text-base sm:text-lg"></i>
              </div>
              <div>
                <h3 class="text-base sm:text-lg font-semibold text-gray-900 mb-1">{{ 'branches.phone2' |translate }}</h3>
                <p class="text-gray-600 ltr-text text-xs sm:text-sm">{{ selectedBranch.MutualNumber }}</p>
              </div>
            </div>
            <div class="flex items-start gap-3 sm:gap-4">
              <div
                class="flex-shrink-0 w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-gray-200 hover:bg-[#a39669] duration-500 hover:text-white  text-[#061933] mt-1">
                <i class="fa-solid fa-clock text-base sm:text-lg"></i>
              </div>
              <div>
                <h3 class="text-base sm:text-lg font-semibold text-gray-900 mb-1">{{ 'branches.hours' |translate }}</h3>
                <p class="text-gray-600 ltr-text text-xs sm:text-sm">{{ selectedBranch.hours }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      } @else {
        <div class="text-center py-10 text-gray-500">
          <p>{{ 'branches.pleaseSelect' | translate }}</p>
        </div>
      } 
    </div> 
  </div> 
</div> 


<section class=" our-section relative w-full min-h-[110vh] sm:min-h-[90vh] md:h-auto md:min-h-[80vh] lg:h-screen bg-cover bg-center py-10 md:py-0">
    <div class="absolute inset-0"></div>
  
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-center md:justify-between max-w-[1325px] mx-auto px-4 sm:px-6 py-10 md:py-16 h-full gap-10 md:gap-6">
  
      <div class="text-white max-w-lg text-center md:text-start md:mb-0 lg:mb-16 xl:mb-52 w-full md:w-1/2">
        <h1 class="text-3xl md:text-4xl font-bold mb-4 leading-loose">
          {{'form.title' | translate}}
        </h1>
        <p class="mb-6 text-base sm:text-lg">
          {{'form.title2' | translate}}
        </p>
        <button class="bg-white text-blue-900 font-semibold py-2 px-6 rounded-full hover:bg-gray-100 transition">
          {{'form.connect' | translate}}
        </button>
      </div>
  
      <div
        class="bg-white bg-opacity-20 backdrop-blur-md p-6 md:p-8 rounded-xl w-full max-w-md md:w-1/2 mt-0">
        <form class="grid grid-cols-1 md:grid-cols-2 gap-4">
  
          <input type="text" placeholder="First Name"
            class="p-3 rounded bg-transparent border border-white placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2 md:col-span-1">
  
          <input type="text" placeholder="Last Name"
            class="p-3 rounded bg-transparent border border-white placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2 md:col-span-1">
  
          <input type="email" placeholder="Email"
            class="p-3 rounded bg-transparent border border-white placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2">
  
            <input type="tel" placeholder="Mobile Number"
            class="p-3 rounded bg-transparent border border-white placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2">
  
  
          <select
            class="p-3 rounded bg-transparent border border-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2">
            <option class="text-black" value="" disabled selected>Select Service...</option>
            <option class="text-black">{{'form.group.Corporate' | translate}}</option>
            <option class="text-black">{{'form.group.Banking' | translate}}</option>
             <option class="text-black">{{'form.group.Investment' | translate}}</option>
            <option class="text-black">{{'form.group.Information' | translate}}</option>
            <option class="text-black">{{'form.group.Intellectual' | translate}}</option>
            <option class="text-black">{{'form.group.Employment' | translate}}</option>
            <option class="text-black">{{'form.group.Dispute' | translate}}</option>
            <option class="text-black">{{'form.group.Foreign' | translate}}</option>
            <option class="text-black">{{'form.group.Government' | translate}}</option>
            <option class="text-black">{{'form.group.Capital' | translate}}</option>
            <option class="text-black">{{'form.group.Environmental' | translate}}</option>
            <option class="text-black">{{'form.group.Insurance' | translate}}</option>
            <option class="text-black">{{'form.group.Legal' | translate}}</option>
            <option class="text-black">{{'form.group.Real' | translate}}</option>
            <option class="text-black">{{'form.group.Shipping' | translate}}</option>
          </select>
  
          <textarea placeholder="Your Message" rows="4"
            class="p-3 rounded bg-transparent border border-white placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2"></textarea>
  
          <button role="button"
            class="bg-[#b3a16c] text-white font-semibold py-3 px-6 rounded-full hover:bg-[#837342] transition col-span-2">
            {{'form.send' | translate}}
          </button>
  
        </form>
      </div>
  
    </div>
  </section>

