<app-carousel></app-carousel>

<!-- <section>
  <div class="grid md:grid-cols-[50%_minmax(0,1fr)]">

    <div class="w-full">
      <div class="bg-white px-4 sm:px-7 py-8 md:py-10 md:ps-[50px] lg:ps-[100px] pe-2 mx-auto">
        <div>
          <h2 class="text-2xl sm:text-3xl font-bold mb-6 md:mb-8 text-[#061933]">{{'timeline.firm' | translate}}</h2>
          <p class="text-lg sm:text-xl md:w-[90%]"> {{'timeline.paragraph' | translate}} </p>
        </div>
        <div class=" flex justify-end text-[#a39669] mt-6 mb-4 md:mb-6 me-4 md:me-6">
          <button class=" text-lg sm:text-xl font-bold hover:underline ">{{'timeline.button' | translate}} <span><i
                class="fa-solid fa-angle-up fa-rotate-90 "></i></span></button>
        </div>
      </div>
      <img src="/images/LAW2.png" class="w-full object-cover h-[250px] sm:h-[300px] md:h-[350px]" alt="Law Firm Image">
    </div>

    <app-timeline></app-timeline>

  </div>
</section> -->

<app-timeline></app-timeline>

<section class=" py-10  bg-[#a39669]">
  <div id="counterSection"
    class="max-w-7xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 text-center">


    <div class="flex flex-col items-center">
      <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-200">+{{counter1}}</h2>
      <p class="mt-2 text-gray-200 text-lg md:text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-200">+{{counter2}}</h2>
      <p class="mt-2 text-gray-200 text-lg md:text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-200">+{{counter3}}</h2>
      <p class="mt-2 text-gray-200 text-lg md:text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-200">+{{counter3}}</h2>
      <p class="mt-2 text-gray-200 text-lg md:text-xl">{{'form.title0' | translate}}</p>
    </div>

  </div>
</section>

<section class="our-section w-full min-h-72 py-12 sm:py-16 md:py-20 bg-cover bg-center bg-no-repeat">
  <div class="m-section container mx-auto px-4">

    <h2 class="text-3xl sm:text-4xl md:text-5xl text-[#a39669] mb-5 font-bold pb-6 md:pb-10"> <span
        class="text-3xl sm:text-4xl md:text-5xl"><i class="fa-solid fa-gavel"></i></span> {{'navbar.services.main' |
      translate}} </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-10 ">

      <div class="group/1">
        <div class="1" (click)="toggleOpen1()">
          <div class="relative text-white flex cursor-pointer items-center">
            <div class="relative">
              <span [class.text-[#a39669]]="open1" [class.text-white]="!open1"
                class="text-4xl md:text-5xl font-bold relative z-10 duration-1000">
                01
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>

            <div class="flex flex-grow items-center justify-center gap-2 mx-2 ">
              <span class="text-base sm:text-lg">{{'navbar.services.sec1' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open1" [class.text-[#a39669]]="open1" [class.text-white]="!open1"
                style="--fa-rotate-angle: 45deg;"></i>

            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open1"
              [class.bg-white]="!open1">
            </div>
          </div>

          @if (open1) {
          <div class="p-3 bg-gray-50 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                     opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par1' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

      <div class="group/2 space-y-8 md:space-y-10">
        <div class="2">
          <div class="relative text-white flex  w-full cursor-pointer items-center" (click)="toggleOpen2()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open2"
                [class.text-white]="!open2">
                02
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg md:text-xl">{{'navbar.services.sec2' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open2" [class.text-[#a39669]]="open2" [class.text-white]="!open2"
                style="--fa-rotate-angle: 45deg;"></i>

            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open2"
              [class.bg-white]="!open2"></div>
          </div>

          @if (open2) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                        opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par2' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="4">
          <div class="relative text-white flex  w-full cursor-pointer items-center" (click)="toggleOpen4()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open4"
                [class.text-white]="!open4">
                04
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg">{{'navbar.services.sec4' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open4" [class.text-[#a39669]]="open4" [class.text-white]="!open4"
                style="--fa-rotate-angle: 45deg;"></i>

            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open4"
              [class.bg-white]="!open4">
            </div>
          </div>

          @if (open4) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                          opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par4' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="6">
          <div class="relative text-white flex w-full cursor-pointer items-center" (click)="toggleOpen6()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open6"
                [class.text-white]="!open6">
                06
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg">{{'navbar.services.sec6' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open6" [class.text-[#a39669]]="open6" [class.text-white]="!open6"
                style="--fa-rotate-angle: 45deg;"></i>

            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open6"
              [class.bg-white]="!open6">
            </div>
          </div>

          @if (open6) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par6' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

      <div class="group/3 space-y-8 md:space-y-10">
        <div class="3">
          <div class="relative text-white flex w-full cursor-pointer items-center" (click)="toggleOpen3()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open3"
                [class.text-white]="!open3">03</span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg md:text-xl">{{'navbar.services.sec3' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open3" [class.text-[#a39669]]="open3" [class.text-white]="!open3"
                style="--fa-rotate-angle: 45deg;"></i>
            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open3"
              [class.bg-white]="!open3"></div>
          </div>

          @if (open3) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par3' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="5">
          <div class="relative text-white flex w-full cursor-pointer items-center" (click)="toggleOpen5()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open5"
                [class.text-white]="!open5">05</span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg md:text-xl">{{'navbar.services.sec5' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open5" [class.text-[#a39669]]="open5" [class.text-white]="!open5"
                style="--fa-rotate-angle: 45deg;"></i>
            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open5"
              [class.bg-white]="!open5"></div>
          </div>

          @if (open5) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par5' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="7 ">
          <div class="relative text-white flex w-full cursor-pointer items-center" (click)="toggleOpen7()">
            <div class="flex-shrink-0 relative">
              <span class="text-4xl md:text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open7"
                [class.text-white]="!open7">07</span>
              <div class="absolute bottom-1 left-0 right-0 h-px bg-white z-0"></div>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-base sm:text-lg md:text-xl">{{'navbar.services.sec7' | translate}}</span>
              
            </div>
            <i class="fa-solid fa-arrow-up fa-rotate-by font text-3xl md:text-4xl duration-500 flex-shrink-0"
                [class.rotate-[225deg]]="open7" [class.text-[#a39669]]="open7" [class.text-white]="!open7"
                style="--fa-rotate-angle: 45deg;"></i>
            <div class="absolute bottom-1 left-0 right-0 h-px z-0 duration-1000" [class.bg-[#a39669]]="open7"
              [class.bg-white]="!open7"></div>
          </div>

          @if (open7) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par7' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

    </div>
    <div class=" flex justify-end text-[#a39669] mt-8 md:mt-10">
      <button class=" text-lg sm:text-xl font-bold hover:underline ">{{'timeline.button' | translate}} <span><i
            class="fa-solid fa-angle-up fa-rotate-90 "></i></span></button>
    </div>

  </div>
</section>




<section class="bg-white w-full container mx-auto px-4 pt-10">

  <h2 class="text-3xl sm:text-4xl md:text-5xl text-[#061933] mb-5 font-bold pb-6 md:pb-10"> {{'title3' | translate}}
  </h2>


 
</section>

<div class="relative w-full overflow-hidden bg-white pb-10 group" dir="ltr">
  <div class="absolute left-0 top-0 h-full w-20 md:w-32 bg-gradient-to-r from-white to-transparent z-10 pointer-events-none"></div>
  <div class="absolute right-0 top-0 h-full w-20 md:w-32 bg-gradient-to-l from-white to-transparent z-10 pointer-events-none"></div>

  <div
    class="flex w-max animate-scroll-continuous items-center gap-x-12 sm:gap-x-16 md:gap-x-20 group-hover:[animation-play-state:paused]"
    role="marquee"
    aria-label="شركاؤنا ورعاتنا"
    [style.--logo-count]="logoCount()"
    [style.--animation-duration]="animationDuration()"
  >
    <!-- نعرض الشعارات المكررة (مرتين) -->
    @for (logo of duplicatedLogos(); track logo.id + '-' + $index) {
      <div class="shrink-0">
        <img
          [src]="logo.src"
          [alt]="logo.alt"
          class="h-12 md:h-16 w-auto max-w-none object-contain"
          loading="lazy"
          height="64"
          width="150"
        />
      </div>
    }
  </div>
</div>





