<app-carousel></app-carousel>

<section>
  <div class="grid md:grid-cols-[50%_minmax(0,1fr)] ">


    <div class="w-full">
      <div class="bg-white sm:px-7 py-10 md:ps-[100px] pe-2 mx-auto  ">
        <div class="">
          <h2 class="text-3xl font-bold mb-8 text-[#061933]">{{'timeline.firm' | translate}}</h2>
          <p class="text-xl md:w-[90%] "> {{'timeline.paragraph' | translate}} </p>
        </div>
        <div class=" flex justify-end text-[#a39669] mb-6 me-6">
          <button class=" text-xl font-bold  hover:underline ">{{'timeline.button' | translate}} <span><i
                class="fa-solid fa-angle-up fa-rotate-90 "></i></span></button>
        </div>
      </div>
      <img src="/images/LAW2.png" class="w-full contain-size h-[350px]" alt="">
    </div>

    <app-timeline></app-timeline>


  </div>
</section>

<section class="our-section w-full min-h-72 py-20 bg-cover bg-center bg-no-repeat">
  <div class="m-section container mx-auto">

    <h2 class="text-5xl text-[#a39669] mb-5 font-bold pb-10"> <span class="text-5xl"><i
          class="fa-solid fa-gavel"></i></span> {{'navbar.services.main' | translate}} </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 ">

      <div class="group/1">
        <div class="1" (click)="toggleOpen1()">
          <div class="relative text-white flex cursor-pointer">
            <div class="relative">
              <span [class.text-[#a39669]]="open1" [class.text-white]="!open1"
                class="text-5xl font-bold relative z-10 duration-1000">
                01
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-1 bg-white z-0"></div>
            </div>

            <div class="flex items-center gap-2 mx-2 ">
              <span class="text-xl">{{'navbar.services.sec1' | translate}}</span>
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000 " [class.rotate-[225deg]]="open1"
                [class.text-[#a39669]]="open1" [class.text-white]="!open1" style="--fa-rotate-angle: 45deg;"></i>
            </div>

            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open1"
              [class.bg-white]="!open1">
            </div>
          </div>

          @if (open1) {
          <div class="p-3 bg-gray-50 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                     opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par1' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

      <div class="group/2">
        <div class="2 pb-16">
          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen2()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open2"
                [class.text-white]="!open2">
                02
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-1 bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec2' | translate}}</span>
            </div>

            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open2"
                [class.text-[#a39669]]="open2" [class.text-white]="!open2" style="--fa-rotate-angle: 45deg;"></i>
            </div>

            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open2"
              [class.bg-white]="!open2"></div>
          </div>

          @if (open2) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                        opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par2' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="4 pb-16">

          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen4()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open4"
                [class.text-white]="!open4">
                04
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-1 bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec4' | translate}}</span>
            </div>

            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open4"
                [class.text-[#a39669]]="open4" [class.text-white]="!open4" style="--fa-rotate-angle: 45deg;"></i>
            </div>

            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open4"
              [class.bg-white]="!open4">
            </div>
          </div>

          @if (open4) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                          opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par4' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="6">

          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen6()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open6"
                [class.text-white]="!open6">
                06
              </span>
              <div class="absolute bottom-1 left-0 right-0 h-1 bg-white z-0"></div>
            </div>

            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec6' | translate}}</span>
            </div>

            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open6"
                [class.text-[#a39669]]="open6" [class.text-white]="!open6" style="--fa-rotate-angle: 45deg;"></i>
            </div>

            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open6"
              [class.bg-white]="!open6">
            </div>
          </div>

          @if (open6) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par6' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

      <div class="group/3">
        <div class="3 pb-16">
          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen3()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open3"
                [class.text-white]="!open3">03</span>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec3' | translate}}</span>
            </div>
            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open3"
                [class.text-[#a39669]]="open3" [class.text-white]="!open3" style="--fa-rotate-angle: 45deg;"></i>
            </div>
            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open3"
              [class.bg-white]="!open3"></div>
          </div>

          @if (open3) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par3' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="5 pb-16">
          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen5()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open5"
                [class.text-white]="!open5">05</span>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec5' | translate}}</span>
            </div>
            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open5"
                [class.text-[#a39669]]="open5" [class.text-white]="!open5" style="--fa-rotate-angle: 45deg;"></i>
            </div>
            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open5"
              [class.bg-white]="!open5"></div>
          </div>

          @if (open5) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par5' | translate}}
            </p>
          </div>
          }
        </div>

        <div class="7 ">
          <div class="relative text-white flex mb-5 w-full cursor-pointer" (click)="toggleOpen7()">
            <div class="flex-shrink-0 relative">
              <span class="text-5xl font-bold relative z-10 duration-1000" [class.text-[#a39669]]="open7"
                [class.text-white]="!open7">07</span>
            </div>
            <div class="flex-grow flex justify-center items-center mx-2">
              <span class="text-xl">{{'navbar.services.sec7' | translate}}</span>
            </div>
            <div class="flex-shrink-0 flex items-center">
              <i class="fa-solid fa-arrow-up fa-rotate-by text-4xl duration-1000" [class.rotate-[225deg]]="open7"
                [class.text-[#a39669]]="open7" [class.text-white]="!open7" style="--fa-rotate-angle: 45deg;"></i>
            </div>
            <div class="absolute bottom-1 left-0 right-0 h-1 z-0 duration-1000" [class.bg-[#a39669]]="open7"
              [class.bg-white]="!open7"></div>
          </div>

          @if (open7) {
          <div class="p-3 bg-gray-100 rounded-lg mt-2 transition-all duration-500 ease-out w-full 
                  opacity-0 -translate-y-4 animate-fadeDown">
            <p class="text-sm text-black">
              {{'navbar.services.par7' | translate}}
            </p>
          </div>
          }
        </div>
      </div>

    </div>
    <div class=" flex justify-end text-[#a39669] ">
      <button class=" text-xl font-bold  hover:underline ">{{'timeline.button' | translate}} <span><i
            class="fa-solid fa-angle-up fa-rotate-90 "></i></span></button>
    </div>

  </div>
</section>


<section class="bg-white w-full  container mx-auto mt-16 h-80">

  <h2 class="text-5xl text-[#061933] mb-5 font-bold pb-10"> {{'title3' | translate}} </h2>


</section>

<section class="bg-[#b3a16c] py-6 ">
  <div id="counterSection" class="max-w-7xl mx-auto px-4 grid  md:grid-cols-5 gap-8 text-center">



    <div class="flex flex-col items-center">
      <h2 class="text-6xl font-bold text-gray-200">+{{counter1}}</h2>
      <p class="mt-2 text-gray-200 text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-6xl font-bold text-gray-200">+{{counter1}}</h2>
      <p class="mt-2 text-gray-200 text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-6xl font-bold text-gray-200">+{{counter2}}</h2>
      <p class="mt-2 text-gray-200 text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-6xl font-bold text-gray-200">+{{counter3}}</h2>
      <p class="mt-2 text-gray-200 text-xl">{{'form.title0' | translate}}</p>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-6xl font-bold text-gray-200">+{{counter3}}</h2>
      <p class="mt-2 text-gray-200 text-xl">{{'form.title0' | translate}}</p>
    </div>

  </div>
</section>


<!-- 
<section class="relative bg-cover bg-center h-[80vh] " style="background-image: url('/images/Law-Gavel-2.png');">

  <div  
  class="  max-w-4xl mx-auto -translate-y-1/2 z-10  relative bg-[#b3a16c] rounded-xl shadow-lg grid xl:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-around items-center py-7 px-3 text-white text-center gap-6"
>

  <div class="flex items-center gap-2 justify-center border-[#b3a16c] ">

    <i class="fa-solid fa-gavel text-6xl text-[#061933]"></i>
    <div class="flex flex-col items-start text-right ms-2">
      <span class="text-3xl font-bold text-white">{{counter1}}</span>
      <span class="text-3xl font-semibold text-white">{{'form.title' | translate}}</span>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-center border-[#b3a16c] border-[#b3a16c]order-[#b3a16c]

    <i class="fa-solid fa-archway text-6xl text-[#061933]"></i>

    <div class="flex flex-col items-start text-right ms-2">
      <span class="text-3xl font-bold text-white">{{counter2}}</span>
      <span class="text-3xl font-semibold text-white">{{'form.title' | translate}}</span>
    </div>
  </div>
  <div class="flex items-center gap-2 justify-center">

    <i class="fa-solid fa-landmark text-6xl text-[#061933] "></i>

    <div class="flex flex-col items-start text-right ms-2">
      <span class="text-3xl font-bold text-white">{{counter3}}</span>
      <span class="text-3xl font-semibold text-white">{{'form.title' | translate}}</span>
    </div>
  </div>
</div>



  <div class="max-w-3xl mx-auto bg-white rounded-xl shadow-md p-6 text-center text-black relative z-10 min-h-[50vh] ">
    <h2 class="text-xl font-semibold mb-6 ">{{'form.title2' | translate}}</h2>
    <form class="grid grid-cols-1 md:grid-cols-3 gap-4 text-sm">
      <input type="text" placeholder="First name.." class="border px-3 py-2 rounded col-span-1" />
      <input type="text" placeholder="Last name.." class="border px-3 py-2 rounded col-span-1" />
      <input type="email" placeholder="Email Address.." class="border px-3 py-2 rounded col-span-1" />
      <textarea placeholder="Message.." rows="4" class="border px-3 py-2 rounded col-span-full"></textarea>
      <button type="submit"
        class="bg-[#b3a16c] text-white py-2 rounded col-span-full hover:opacity-90 transition">{{'form.send' | translate}}</button>
    </form>
  </div>
</section> -->

<section class="our-section relative w-full md:h-screen bg-cover bg-center">
  <div class="absolute inset-0"></div>

  <div class="relative z-10 flex flex-col md:flex-row items-center justify-between max-w-[1325px] mx-auto px-6 py-16 h-full">

    <!-- Left content -->
    <div class="text-white max-w-lg  md:text-start md:mb-52 ">
      <h1 class="text-3xl md:text-5xl font-bold mb-4">
        {{'form.title' | translate}}
      </h1>
      <p class="mb-6">
        {{'form.title2' | translate}}
      </p>
      <button class="bg-white text-blue-900 font-semibold py-2 px-6 rounded-full hover:bg-gray-100 transition">
        {{'form.connect' | translate}} 
      </button>
    </div>

    <!-- Right form -->
    <div
      class="bg-white bg-opacity-20 backdrop-blur-md p-8 rounded-xl w-full md:w-1/2 mt-10 md:mt-0 max-w-md mx-auto px-4">
      <form class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <input type="text" placeholder="First Name"
          class="p-3 rounded bg-transparent border border-[#b3a16c] placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-1">

        <input type="text" placeholder="Last Name"
          class="p-3 rounded bg-transparent border border-[#b3a16c] placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-1">

        <input type="email" placeholder="Email"
          class="p-3 rounded bg-transparent border border-[#b3a16c] placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2">

        <!-- Mobile Number with Country Code -->
        <div class="col-span-2 flex gap-2 items-center">


          <!-- Mobile Number Input -->
          <input type="text" placeholder="Mobile Number "
            class="flex-1 p-3 rounded bg-transparent border border-[#b3a16c] placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c]">
        </div>


        <select
          class="p-3 rounded bg-transparent border border-[#b3a16c] text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2">
          <option class="text-black">{{'form.group.Corporate' | translate}}</option>
          <option class="text-black">{{'form.group.Banking' | translate}}</option>
          <option class="text-black">{{'form.group.Investment' | translate}}</option>
          <option class="text-black">{{'form.group.Information' | translate}}</option>
          <option class="text-black">{{'form.group.Intellectual' | translate}}</option>
          <option class="text-black">{{'form.group.Employment' | translate}}</option>
          <option class="text-black">{{'form.group.Dispute' | translate}}</option>
          <option class="text-black">{{'form.group.Foreign' | translate}}</option>
          <option class="text-black">{{'form.group.Government' | translate}}</option>
          <option class="text-black">{{'form.group.Capital' | translate}}</option>
          <option class="text-black">{{'form.group.Environmental' | translate}}</option>
          <option class="text-black">{{'form.group.Insurance' | translate}}</option>
          <option class="text-black">{{'form.group.Legal' | translate}}</option>
          <option class="text-black">{{'form.group.Real' | translate}}</option>
          <option class="text-black">{{'form.group.Shipping' | translate}}</option>
        </select>

        <!-- Message -->
        <textarea placeholder="Your Message" rows="4"
          class="p-3 rounded bg-transparent border border-[#b3a16c] placeholder-white text-white focus:outline-none focus:ring-2 focus:ring-[#b3a16c] col-span-2"></textarea>

        <!-- Submit -->
        <button role="button"
          class="bg-[#b3a16c] text-white font-semibold py-3 px-6 rounded-full hover:bg-[#837342] transition col-span-2">
          {{'form.send' | translate}} 
        </button>

      </form>
    </div>


  </div>
</section>