<footer  class="bg-[#061933] text-white">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">

        <div class="space-y-4 text-left py-11 "> <img
                src="/images/Untitled-2-02.png" alt="Al Zamil & Al Kharashi Logo"
                class=" mb-4 w-60 ">
            <p class="text-sm text-gray-300 text-justify leading-8 ">
                {{ 'footer.paragraph' | translate }}
            </p>
            
        </div>

        <div class="space-y-6 sm:px-5 sm:text-center md:text-start md:py-11 md:ps-16">
            <h3 class="text-lg font-semibold mb-4">{{ 'footer.connect' | translate }}</h3>
            <div class="text-sm space-y-1">
                <p class="font-medium">{{ 'footer.riyadh' | translate }}</p>
                <p class="text-[#6d7887]">{{ 'footer.phone' | translate }} 0114733303</p>
                <p class="text-[#6d7887]">{{ 'footer.dphone' | translate }}</p>
            </div>
            <div class="text-sm space-y-1">
                <p class="font-medium">{{ 'footer.khobar' | translate }}</p>
                <p class="text-[#6d7887]">{{ 'footer.phone' | translate }} 0138147677</p>
                <p class="text-[#6d7887]">{{ 'footer.dphone' | translate }}</p>
            </div>
            <div class="text-sm space-y-1 ">
                <p class="font-medium">{{ 'footer.jeddah' | translate }}</p>
                <p class="text-[#6d7887]">{{ 'footer.dphone' | translate }}</p>
            </div>
        </div>

        <div class="space-y-6 sm:px-5 sm:text-center md:text-start md:py-11 md:ps-10">
            <h3 class="text-lg font-semibold mb-4">{{ 'footer.follow' | translate }}</h3>
            <div class="grid grid-cols-4  gap-y-3 mx-0 px-0 max-w-40"> <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-linkedin-in"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-instagram"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-facebook-f"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-snapchat"></i> </a>

                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-twitter"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-whatsapp"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-brands fa-telegram"></i> </a>
                <a role="button"
                    class="w-8 h-8 border border-white rounded-full flex items-center justify-center text-xs hover:bg-white hover:text-[#0d1a3f] transition-colors duration-200">
                    <i class="fa-solid fa-envelope"></i> </a>

            </div>
            <div class="text-sm space-y-1">
                <p class="font-medium">{{ 'footer.email' | translate }}</p> <a href="mailto:info@zk-legal.com"
                    class="text-[#6d7887] hover:text-white transition-colors duration-200 ">infozk-legal.com</a>
            </div>
            <div class="text-sm space-y-1">
                <p class="font-medium">{{ 'footer.hours' | translate }}</p>
                <p class="text-[#6d7887]">Sat-Thur 8:30 AM - 5:00 PM</p>
            </div>
        </div>

        <div class="hidden lg:block bg-contain bg-no-repeat bg-right-top  w-full h-full "
            style="background-image: url('/images/Untitled-1.png');">
        </div>
    </div>
    <div class="  border-t border-gray-700 text-center text-gray-400 text-sm mx-10 p-5 sm:mt-5">
        Copyright © <span id="current-year"></span> Al Zamil & Al Kharashi. All rights reserved. </div>
</footer>