<swiper-container class="mySwiper w-full h-screen" init="false">

    <swiper-slide class="relative w-full h-full">
    <img src="/images/بنر ٣.webp" class="w-full h-full object-bottom" alt="Theatre Background" />

    <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
      <div
        class="flex flex-col items-center justify-center text-center px-4 max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl animate-fade-in-up">
        <h1
          class="text-white text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight md:leading-snug drop-shadow-xl space-y-1 md:space-y-2 flex flex-col">
          <span class="mb-2">{{'carousel.tit3' | translate }} </span>
          <span> {{'carousel.span5' | translate }} <span class="text-[#b3a16c]">{{'carousel.span6' | translate }}</span></span>
        </h1>
        <p class="mt-4 md:mt-6 text-white/80 text-base sm:text-lg md:text-xl">
          {{'carousel.mainspan3' | translate }}
        </p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide class="relative w-full h-full">
    <img src="/images/بنر ٢.webp" class="w-full h-full object-cover" alt="Theatre Background" />

    <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
      <div
        class="flex flex-col items-center justify-center text-center px-4 max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl animate-fade-in-up">
        <h1
          class="text-white text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight md:leading-snug drop-shadow-xl space-y-1 md:space-y-4 flex flex-col">
          <span> {{'carousel.tit2' | translate }} </span>
          <span>{{'carousel.span3' | translate }} <span class="text-[#b3a16c]">{{'carousel.span4' | translate
              }}</span></span>
        </h1>
        <p class="mt-4 md:mt-6 text-white/80 text-base sm:text-lg md:text-xl">
          {{'carousel.mainspan2' | translate }}
        </p>
      </div>
    </div>
  </swiper-slide>

   <swiper-slide class="relative w-full h-full ">
    <img src="/images/بنر ١.webp" class= " w-full h-full object-cover " alt="Theatre Background" />

    <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
      <div
        class="flex flex-col items-center justify-center text-center px-4 max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl animate-fade-in-up">
        <h1
          class="text-white text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight md:leading-snug drop-shadow-xl space-y-1 md:space-y-2 flex flex-col">
          <span>{{'carousel.tit1' | translate }} </span>
          <span>{{'carousel.span1' | translate }} <span class="text-[#b3a16c]">{{'carousel.span2' | translate }}</span></span>
        </h1>
        <p class="mt-4 md:mt-6 text-white/80 text-base sm:text-lg md:text-xl">
          {{'carousel.mainspan1' | translate }}
        </p>
      </div>
    </div>
  </swiper-slide>

</swiper-container>