<swiper-container class="mySwiper w-full h-screen" init="false">
  
    <swiper-slide class="relative w-full h-full">
      <img src="/images/black-white-view-theatre.jpg" class="w-full h-full object-cover"  />
  
      <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
        <div class="text-center px-4 animate-fade-in-up">
          <h1 class="text-white text-5xl md:text-6xl font-extrabold leading-snug drop-shadow-xl">
            احفظ حقوقك وأمّن أصولك باستعانتك   <br class="hidden md:block"> ببيت <span class="text-[#b3a16c]">الخبرة العريق</span>
          </h1>
          <p class="mt-4 text-white/80 text-lg md:text-xl">
            مع خبرة واحترافية في تقديم أفضل الحلول والخدمات
          </p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="relative w-full h-full">
      <img src="/images/black-white-view-theatre.jpg" class="w-full h-full object-cover" />
  
     
      <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
        <div class="text-center px-4 animate-fade-in-up">
          <h1 class="text-white text-5xl md:text-6xl font-extrabold leading-snug drop-shadow-xl">
            انضم لمسيرة نجاح <br class="hidden md:block"> دامت لـ <span class="text-[#b3a16c]">25 عامًا</span>
          </h1>
          <p class="mt-4 text-white/80 text-lg md:text-xl">
            مع خبرة واحترافية في تقديم أفضل الحلول والخدمات
          </p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="relative w-full h-full">
      <img src="/images/black-white-view-theatre.jpg" class="w-full h-full object-cover" />

      <div class="absolute inset-0 bg-black/60 flex items-center justify-center">
        <div class="text-center px-4 animate-fade-in-up">
          <h1 class="text-white text-5xl md:text-6xl font-extrabold leading-snug drop-shadow-xl">
            احفظ حقوقك وأمّن أصولك باستعانتك <br class="hidden md:block"> بقيادة <span class="text-[#b3a16c]">الدعم القانوني</span>
          </h1>
          <p class="mt-4 text-white/80 text-lg md:text-xl">
            مع خبرة واحترافية في تقديم أفضل الحلول والخدمات
          </p>
        </div>
      </div>
    </swiper-slide>
  
  </swiper-container>
  